<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <httpRedirect enabled="false" destination="../" childOnly="true" httpResponseStatus="Permanent" />
    </system.webServer>
</configuration>
